#game-board {
  background: var(--game-board-background);
  width: 100%;
  height: 100%;
  display: grid;
  border-radius: 2rem;
  box-shadow: 0 0 2rem var(--bs-secondary-bg);
}

#game-container {
  height: 85vmin; /* Allow space for footer */
  width: 85vmin;
  display: flex;
  align-items: center;
  justify-content: center; /* Cente the DOM horizontally */
  margin: 0 auto; /* Center the DOM vertically */
}

#game-bar {
  width: 80vmin;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  font-family: 'Oxanium';
}
